#overlay {
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left; 0;
}

#swatch {
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  top: 10;
  left: 10;
}

#swatch-color {
  width: 70;
  height: 70;
}
